<div class="container mt-2">
  <%= simple_form_for @super_power do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :img,
                  placeholder: "URL" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create", class: "btn btn-sm btn-danger" %>
    </div>
  <% end %>
</div>
