<div class="container mt-2 text-center">
<h1>Your profile</h1>
<% if @user.photo.attached? %>
<%= cl_image_tag @user.photo.key, height: 200, width: 200, radius: :max,  crop: :fill, class: 'mx-2' %>
<% else %>
<%= image_tag 'profile.png', height: 200, width: 200, radius: :max,  crop: :fill, class: 'mx-2' %>
<% end %>

<h4><%= @user.name %> </h4>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email%></p>


<br>
<% session["user_return_to"] = user_path(current_user) %>
<%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-danger mt-1 mb-1' %>
</div>
