  <div class= "container mt-5">

    <div class= "mb-3 text-center">
      <h3>PURCHASES</h3>
    </div>

    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-3  p-1">
          <div class="card my-4" style='height: 100%;'>
            <% if order.super_power.photo.attached? %>
              <div class='card-img-top' style='background-image: url(<%= cl_image_path(power.photo.key) %>)'></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class='card-title'><%= order.super_power.name %></h5>
                <p class='card-text'><strong>$<%= order.super_power.price.to_s.gsub('.', ',') %>0</strong></p>
                <%= link_to 'View', super_power_path(order.super_power), class: 'btn btn-danger' %>
              </div>
            <% else %>
              <div class="card-img-top" style="background-image: url(https://mrconfeccoes.com.br/wp-content/uploads/2018/03/default.jpg)"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class='card-title'><%= order.super_power.name %></h5>
                <p class='card-text'><strong>$<%= order.super_power.price.to_s.gsub('.', ',') %>0</strong></p>
                <%= link_to 'View', super_power_path(order.super_power), class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
