  <div class= "container mt-5">

    <div class= "mb-3 text-center">
      <h3>PURCHASES</h3>
    </div>

    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-2  p-1">
          <div class="card my-4" style='height: 100%;'>
            <% if order.super_power.photo.attached? %>
              <%= cl_image_tag order.super_power.photo.key, class: 'card-img-top' %>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class='card-title'><%= order.super_power.name %></h5>
                <p class='card-text'><strong>$<%= order.super_power.price %></strong></p>
                <%= link_to 'View', super_power_path(order.super_power), class: 'btn btn-danger' %>
              </div>
            <% else %>
              <img class='card-img-top' src="https://mrconfeccoes.com.br/wp-content/uploads/2018/03/default.jpg" alt="">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class='card-title'><%= order.super_power.name %></h5>
                <p class='card-text'><strong>$<%= order.super_power.price %></strong></p>
                <%= link_to 'View', super_power_path(order.super_power), class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
