<body>
  <section id="testimonials">
    <!--heading--->
    <div class="testimonial-heading">
      <span>Comments</span>
    </div>
     <% if @super_power.reviews.empty? %>
                      <small><em class="text-muted"> No comments yet. Be the first one to review this Super Power in the next field</em></small>
                        <% end %>
    <!--testimonials-box-container------>
    <%@super_power.reviews.each do |review|%>
    <div class="testimonial-box-container">
      <!--BOX-1-------------->
      <div class="testimonial-box">
        <!--top------------------------->
        <div class="box-top">
          <!--profile----->
          <div class="profile">
            <!--img---->
            <div class="profile-img">
              <% if review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key %>
              <% else %>
              <%= image_tag 'profile.png' %>
              <% end %>
            </div>
            <!--name-and-username-->
            <div class="name-user">
              <strong><%=review.user.name%></strong>
              <span><%=review.user.email%></span>
            </div>
          </div>
          <!--reviews------>
          <div class="reviews"> <% review.rating.times do %>
            <i class="fas fa-star"></i>
         <%end%>
          </div>
        </div>
        <!--Comments---------------------------------------->
        <div class="client-comment">
          <p><%= review.comment%></p>
        </div>
      </div>
    <%end%>
  </section>
</body>
